Nombre: Maria Fernanda Peñaranda Villalobos
Codigo:20221987



# 1.   Limpieza de dataframes

In [514]:
import pandas as pd
link1='https://raw.githubusercontent.com/Maferenv/PC3.25-1/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv'
Ex_Au=pd.read_csv(link1)

In [515]:
Ex_Au

,name,slug,value,date_of_information,ranking,region
0,China,china,"$3,265,000,000,000",2024,1,East and Southeast Asia
1,Japan,japan,"$1,160,000,000,000",2024,2,East and Southeast Asia
2,Switzerland,switzerland,"$822,130,000,000",2024,3,Europe
3,Russia,russia,"$597,217,000,000",2023,4,Central Asia
4,India,india,"$569,544,000,000",2024,5,South Asia
...,...,...,...,...,...,...
190,South Sudan,south-sudan,"$72,881,000",2023,191,Africa
191,Burkina Faso,burkina-faso,"$49,000,000",2017,192,Africa
192,Montserrat,montserrat,"$47,580,000",2017,193,Central America and the Caribbean
193,Sao Tome and Principe,sao-tome-and-principe,"$46,247,000",2023,194,Africa
194,Somalia,somalia,"$30,450,000",2014,195,Africa

In [516]:
#Renombramiento de cada columna
Nombres=['Country','Slug','Value_in_dollars', 'Date','Rank','Region']
function = {old:new for old,new in zip(Ex_Au.columns,Nombres)}
Ex_Au.rename(columns=function, inplace=True)
Ex_Au

,Country,Slug,Value_in_dollars,Date,Rank,Region
0,China,china,"$3,265,000,000,000",2024,1,East and Southeast Asia
1,Japan,japan,"$1,160,000,000,000",2024,2,East and Southeast Asia
2,Switzerland,switzerland,"$822,130,000,000",2024,3,Europe
3,Russia,russia,"$597,217,000,000",2023,4,Central Asia
4,India,india,"$569,544,000,000",2024,5,South Asia
...,...,...,...,...,...,...
190,South Sudan,south-sudan,"$72,881,000",2023,191,Africa
191,Burkina Faso,burkina-faso,"$49,000,000",2017,192,Africa
192,Montserrat,montserrat,"$47,580,000",2017,193,Central America and the Caribbean
193,Sao Tome and Principe,sao-tome-and-principe,"$46,247,000",2023,194,Africa
194,Somalia,somalia,"$30,450,000",2014,195,Africa

In [517]:
#Detección de datos nulos
Ex_Au.isnull()

     Country   Slug  Value_in_dollars   Date   Rank  Region
0      False  False             False  False  False   False
1      False  False             False  False  False   False
2      False  False             False  False  False   False
3      False  False             False  False  False   False
4      False  False             False  False  False   False
..       ...    ...               ...    ...    ...     ...
190    False  False             False  False  False   False
191    False  False             False  False  False   False
192    False  False             False  False  False   False
193    False  False             False  False  False   False
194    False  False             False  False  False   False

[195 rows x 6 columns]

In [518]:
#Analisamos si alguna columna tiene numeros no correspondientes
Ex_Au.Region.str.contains(pat=r'\D',
                          regex=True)
Ex_Au.Slug.str.contains(pat=r'\D',
                          regex=True)

0      True
1      True
2      True
3      True
4      True
       ...
190    True
191    True
192    True
193    True
194    True
Name: Slug, Length: 195, dtype: bool

In [519]:
#Detectamos la presencia de celdas con simbolos no numéricos en la columna
pd.unique(Ex_Au.Slug[~Ex_Au.Slug.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Ex_Au.Country[~Ex_Au.Country.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Ex_Au.Region[~Ex_Au.Region.str.contains(r'\d+\.\d+',regex=True)])

array(['East and Southeast Asia', 'Europe', 'Central Asia', 'South Asia',
       'Middle East', 'South America', 'North America', 'Africa',
       'Australia and Oceania', 'Central America and the Caribbean'],
      dtype=object)

In [520]:
#Reemplazamos todos los signos con espacios
import re
Ex_Au['Slug']=Ex_Au['Slug'].apply(lambda x:re.sub(r'[^\w\s]', ' ', x))
Ex_Au.Slug

0                      china
1                      japan
2                switzerland
3                     russia
4                      india
               ...
190              south sudan
191             burkina faso
192               montserrat
193    sao tome and principe
194                  somalia
Name: Slug, Length: 195, dtype: object

In [521]:
#Capitalizamos cada pais de la columna Slug
Ex_Au['Slug']=Ex_Au['Slug'].str.capitalize()
Ex_Au.Slug

0                      China
1                      Japan
2                Switzerland
3                     Russia
4                      India
               ...
190              South sudan
191             Burkina faso
192               Montserrat
193    Sao tome and principe
194                  Somalia
Name: Slug, Length: 195, dtype: object

In [522]:
#Para la columna Country analisamos que no contenga simbolos ni numeros
Ex_Au.Country.str.contains(pat=r'\D',
                          regex=True)
Ex_Au.Country[Ex_Au.Country.str.contains(pat=r'[^\w\s]',regex=True)]

8                           Korea, South
27                      Turkey (Turkiye)
90                         Cote d'Ivoire
98     Congo, Democratic Republic of the
126                         Bahamas, The
153                          Timor-Leste
155               Congo, Republic of the
164                          Gambia, The
167      Micronesia, Federated States of
176                        Guinea-Bissau
Name: Country, dtype: object

In [523]:
#Eliminamos todas las palabras que estén contenidas dentro de paréntesis
Ex_Au['Country']=Ex_Au['Country'].str.replace(r'\([^()]*\)', '', regex=True)
Ex_Au.Country

0                      China
1                      Japan
2                Switzerland
3                     Russia
4                      India
               ...
190              South Sudan
191             Burkina Faso
192               Montserrat
193    Sao Tome and Principe
194                  Somalia
Name: Country, Length: 195, dtype: object

In [524]:
#Reordenamos las palabras que comienzan con la preposición the
def reorder_country_name(country):
    if ',' in country:
        parts = country.split(',')
        return f"{parts[1].strip()} {parts[0].strip()}"
    return country

Ex_Au['Country'] = Ex_Au['Country'].apply(reorder_country_name)
Ex_Au.Country

0                      China
1                      Japan
2                Switzerland
3                     Russia
4                      India
               ...
190              South Sudan
191             Burkina Faso
192               Montserrat
193    Sao Tome and Principe
194                  Somalia
Name: Country, Length: 195, dtype: object

In [525]:
#Analizamos si los numeros poseen simbolos no numericos y los quitamos
Ex_Au['Value_in_dollars'] = Ex_Au['Value_in_dollars'].astype(str)
Ex_Au['Value_in_dollars'] = Ex_Au['Value_in_dollars'].str.replace(r"[^\d\.\-]", "", regex=True)

In [526]:
Ex_Au.Value_in_dollars=pd.to_numeric(Ex_Au.Value_in_dollars, errors='coerce')
Ex_Au.Value_in_dollars

0      3265000000000
1      1160000000000
2       822130000000
3       597217000000
4       569544000000
           ...
190         72881000
191         49000000
192         47580000
193         46247000
194         30450000
Name: Value_in_dollars, Length: 195, dtype: int64

In [527]:
#Extraemos 3 ceros hacia atrás
Ex_Au['Value_in_dollars'] = Ex_Au['Value_in_dollars'].astype(str)
Ex_Au['Value_in_dollars'] = Ex_Au['Value_in_dollars'].str.replace('0', '', 3)
Ex_Au.Value_in_dollars

0      3265000000
1      1160000000
2       822130000
3       597217000
4       569544000
          ...
190         72881
191         49000
192         47580
193         46247
194         34500
Name: Value_in_dollars, Length: 195, dtype: object

In [528]:
#Renombramos Value in dollars
Ex_Au.rename(columns={'Value_in_dollars':'Value_in_dollars_x10^3'}, inplace=True)
Ex_Au

,Country,Slug,Value_in_dollars_x10^3,Date,Rank,Region
0,China,China,3265000000,2024,1,East and Southeast Asia
1,Japan,Japan,1160000000,2024,2,East and Southeast Asia
2,Switzerland,Switzerland,822130000,2024,3,Europe
3,Russia,Russia,597217000,2023,4,Central Asia
4,India,India,569544000,2024,5,South Asia
...,...,...,...,...,...,...
190,South Sudan,South sudan,72881,2023,191,Africa
191,Burkina Faso,Burkina faso,49000,2017,192,Africa
192,Montserrat,Montserrat,47580,2017,193,Central America and the Caribbean
193,Sao Tome and Principe,Sao tome and principe,46247,2023,194,Africa
194,Somalia,Somalia,34500,2014,195,Africa

In [529]:
#Renombramos la tabla anterior
Resv_fng=Ex_Au
Resv_fng

,Country,Slug,Value_in_dollars_x10^3,Date,Rank,Region
0,China,China,3265000000,2024,1,East and Southeast Asia
1,Japan,Japan,1160000000,2024,2,East and Southeast Asia
2,Switzerland,Switzerland,822130000,2024,3,Europe
3,Russia,Russia,597217000,2023,4,Central Asia
4,India,India,569544000,2024,5,South Asia
...,...,...,...,...,...,...
190,South Sudan,South sudan,72881,2023,191,Africa
191,Burkina Faso,Burkina faso,49000,2017,192,Africa
192,Montserrat,Montserrat,47580,2017,193,Central America and the Caribbean
193,Sao Tome and Principe,Sao tome and principe,46247,2023,194,Africa
194,Somalia,Somalia,34500,2014,195,Africa

In [530]:
import pandas as pd
link2=('https://raw.githubusercontent.com/Maferenv/PC3.25-1/refs/heads/main/Energy%20consumption%20per%20capita.csv')
En_coms=pd.read_csv(link2)
En_coms

,name,slug,Btu/person,date_of_information,ranking,region
0,Qatar,qatar,"814,308,000",2023,1,Middle East
1,Singapore,singapore,"643,259,000",2023,2,East and Southeast Asia
2,Bahrain,bahrain,"554,202,000",2023,3,Middle East
3,United Arab Emirates,united-arab-emirates,"450,432,000",2023,4,Middle East
4,Brunei,brunei,"403,365,000",2023,5,East and Southeast Asia
...,...,...,...,...,...,...
190,Chad,chad,"1,502,000",2023,191,Africa
191,"Congo, Democratic Republic of the",congo-democratic-republic-of-the,"1,305,000",2023,192,Africa
192,Central African Republic,central-african-republic,"954,000",2023,193,Africa
193,Burundi,burundi,"946,000",2023,194,Africa
194,Somalia,somalia,"649,000",2023,195,Africa

In [531]:
#Renombramiento de columnas
Nombres2=['Country','Slug','Btu/person_(x10^3)', 'Date','Rank','Region']
function2 = {old:new for old,new in zip(En_coms.columns,Nombres2)}
En_coms.rename(columns=function2, inplace=True)

In [532]:
#detección de datos nulos
En_coms.isnull()

     Country   Slug  Btu/person_(x10^3)   Date   Rank  Region
0      False  False               False  False  False   False
1      False  False               False  False  False   False
2      False  False               False  False  False   False
3      False  False               False  False  False   False
4      False  False               False  False  False   False
..       ...    ...                 ...    ...    ...     ...
190    False  False               False  False  False   False
191    False  False               False  False  False   False
192    False  False               False  False  False   False
193    False  False               False  False  False   False
194    False  False               False  False  False   False

[195 rows x 6 columns]

In [533]:
#Analisis de cada columna
#si contienen simbolos no numéricos
pd.unique(En_coms.Slug[~En_coms.Slug.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(En_coms.Country[~En_coms.Country.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(En_coms.Region[~En_coms.Region.str.contains(r'\d+\.\d+',regex=True)])
#si es que contienen se reemplazan por espacios en blanco
En_coms['Slug']=En_coms['Slug'].apply(lambda x:re.sub(r'[^\w\s]', ' ', x))
En_coms.Slug

0                                 qatar
1                             singapore
2                               bahrain
3                  united arab emirates
4                                brunei
                     ...
190                                chad
191    congo democratic republic of the
192            central african republic
193                             burundi
194                             somalia
Name: Slug, Length: 195, dtype: object

In [534]:
#Analisamos que no contenga números ni simbolos
En_coms.Country.str.contains(pat=r'\D',
                          regex=True)
En_coms.Country[En_coms.Country.str.contains(pat=r'[^\w\s]',regex=True)]

12                          Korea, South
44                          Bahamas, The
70                      Turkey (Turkiye)
125                         Korea, North
154                        Cote d'Ivoire
160               Congo, Republic of the
162                          Timor-Leste
179                          Gambia, The
181                        Guinea-Bissau
191    Congo, Democratic Republic of the
Name: Country, dtype: object

In [535]:
#Eliminamos todas las palabras que se encuentren encerradas por paréntesis
import re
En_coms['Country']=En_coms['Country'].str.replace(r'\([^()]*\)', '', regex=True)
En_coms.Country

0                                  Qatar
1                              Singapore
2                                Bahrain
3                   United Arab Emirates
4                                 Brunei
                     ...
190                                 Chad
191    Congo, Democratic Republic of the
192             Central African Republic
193                              Burundi
194                              Somalia
Name: Country, Length: 195, dtype: object

In [536]:
#Reordenamos todas las palabras que comienzan por la preposición the
def reorder_country_name(country):
    if ',' in country:
        parts = country.split(',')
        return f"{parts[1].strip()} {parts[0].strip()}"
    return country

En_coms['Country'] = En_coms['Country'].apply(reorder_country_name)
En_coms.Country

0                                 Qatar
1                             Singapore
2                               Bahrain
3                  United Arab Emirates
4                                Brunei
                     ...
190                                Chad
191    Democratic Republic of the Congo
192            Central African Republic
193                             Burundi
194                             Somalia
Name: Country, Length: 195, dtype: object

In [537]:
#Capitalización de cada país
En_coms['Slug']=En_coms['Slug'].str.capitalize()
En_coms.Slug

0                                 Qatar
1                             Singapore
2                               Bahrain
3                  United arab emirates
4                                Brunei
                     ...
190                                Chad
191    Congo democratic republic of the
192            Central african republic
193                             Burundi
194                             Somalia
Name: Slug, Length: 195, dtype: object

In [538]:
#Analisamos si los numeros poseen simbolos no numéricos y los quitamos
En_coms['Btu/person_(x10^3)'] = En_coms['Btu/person_(x10^3)'].astype(str)
En_coms['Btu/person_(x10^3)'] = En_coms['Btu/person_(x10^3)'].str.replace(r"[^\d\.\-]", "", regex=True)

In [539]:
En_coms['Btu/person_(x10^3)']=pd.to_numeric(En_coms['Btu/person_(x10^3)'], errors='coerce')
En_coms['Btu/person_(x10^3)']

0      814308000
1      643259000
2      554202000
3      450432000
4      403365000
         ...
190      1502000
191      1305000
192       954000
193       946000
194       649000
Name: Btu/person_(x10^3), Length: 195, dtype: int64

In [540]:
#Extraemos 3 ceros de atrás
En_coms['Btu/person_(x10^3)'] = En_coms['Btu/person_(x10^3)'].astype(str)
En_coms['Btu/person_(x10^3)'] = En_coms['Btu/person_(x10^3)'].str.replace('0', '', 3)
En_coms['Btu/person_(x10^3)']

0      814380
1      643259
2      554220
3      454320
4      433650
        ...
190      1520
191      1350
192       954
193       946
194       649
Name: Btu/person_(x10^3), Length: 195, dtype: object

In [541]:
import pandas as pd
link3=('https://raw.githubusercontent.com/Maferenv/PC3.25-1/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv')
Elec_igc=pd.read_csv(link3)
Elec_igc

,name,slug,kW,date_of_information,ranking,region
0,China,china,"2,949,000,000",2023,1,East and Southeast Asia
1,United States,united-states,"1,235,000,000",2023,2,North America
2,India,india,"499,136,000",2023,3,South Asia
3,Japan,japan,"361,617,000",2023,4,East and Southeast Asia
4,Russia,russia,"301,926,000",2023,5,Central Asia
...,...,...,...,...,...,...
206,Kiribati,kiribati,"12,000",2023,207,Australia and Oceania
207,Falkland Islands (Islas Malvinas),falkland-islands-islas-malvinas,"10,000",2023,208,South America
208,Montserrat,montserrat,"6,000",2023,209,Central America and the Caribbean
209,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"5,000",2023,210,Africa
210,Niue,niue,"3,000",2023,211,Australia and Oceania

In [542]:
#Renombramos cada columna
Nombres3=['Country','Slug','IGC_in_10^3KW', 'Date','Rank','Region']
function3 = {old:new for old,new in zip(Elec_igc.columns,Nombres3)}
Elec_igc.rename(columns=function3, inplace=True)

In [543]:
#Identificamos valores nulos
Elec_igc.isnull()

     Country   Slug  IGC_in_10^3KW   Date   Rank  Region
0      False  False          False  False  False   False
1      False  False          False  False  False   False
2      False  False          False  False  False   False
3      False  False          False  False  False   False
4      False  False          False  False  False   False
..       ...    ...            ...    ...    ...     ...
206    False  False          False  False  False   False
207    False  False          False  False  False   False
208    False  False          False  False  False   False
209    False  False          False  False  False   False
210    False  False          False  False  False   False

[211 rows x 6 columns]

In [544]:
#Si contienen numeros o simbolos no numéricos
pd.unique(Elec_igc.Slug[~Elec_igc.Slug.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Elec_igc.Country[~Elec_igc.Country.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Elec_igc.Region[~Elec_igc.Region.str.contains(r'\d+\.\d+',regex=True)])
#Si se encuentran se reemplazan por espacios en blanco
Elec_igc['Slug']=Elec_igc['Slug'].apply(lambda x:re.sub(r'[^\w\s]', ' ', x))
Elec_igc.Slug

0                                            china
1                                    united states
2                                            india
3                                            japan
4                                           russia
                          ...
206                                       kiribati
207                falkland islands islas malvinas
208                                     montserrat
209    saint helena ascension and tristan da cunha
210                                           niue
Name: Slug, Length: 211, dtype: object

In [545]:
#Capitalizamos los países
Elec_igc['Slug']=Elec_igc['Slug'].str.capitalize()
Elec_igc.Slug

0                                            China
1                                    United states
2                                            India
3                                            Japan
4                                           Russia
                          ...
206                                       Kiribati
207                Falkland islands islas malvinas
208                                     Montserrat
209    Saint helena ascension and tristan da cunha
210                                           Niue
Name: Slug, Length: 211, dtype: object

In [546]:
#Analizamos que Country no contenga números ni simbolos
Elec_igc.Country.str.contains(pat=r'\D',
                          regex=True)
Elec_igc.Country[Elec_igc.Country.str.contains(pat=r'[^\w\s]',regex=True)]

9                                       Korea, South
15                                  Turkey (Turkiye)
70                                      Korea, North
106                Congo, Democratic Republic of the
116                                    Cote d'Ivoire
136                           Congo, Republic of the
147                                     Bahamas, The
166                                      Timor-Leste
178                                      Gambia, The
202                                    Guinea-Bissau
207                Falkland Islands (Islas Malvinas)
209    Saint Helena, Ascension, and Tristan da Cunha
Name: Country, dtype: object

In [547]:
#Eliminamos las palabras contenidas dentro de los paréntesis
Elec_igc['Country']=Elec_igc['Country'].str.replace(r'\([^()]*\)', '', regex=True)
Elec_igc.Country

0                                              China
1                                      United States
2                                              India
3                                              Japan
4                                             Russia
                           ...
206                                         Kiribati
207                                Falkland Islands
208                                       Montserrat
209    Saint Helena, Ascension, and Tristan da Cunha
210                                             Niue
Name: Country, Length: 211, dtype: object

In [548]:
#Reordenamos todas las palabras que comienzan por la preposición the
def reorder_country_name(country):
    if ',' in country:
        parts = country.split(',')
        return f"{parts[1].strip()} {parts[0].strip()}"
    return country
Elec_igc['Country'] = Elec_igc['Country'].apply(reorder_country_name)
Elec_igc.Country

0                       China
1               United States
2                       India
3                       Japan
4                      Russia
                ...
206                  Kiribati
207         Falkland Islands
208                Montserrat
209    Ascension Saint Helena
210                      Niue
Name: Country, Length: 211, dtype: object

In [549]:
#Analizamos si los números poseen simbolos no numéricos y los quitamos
Elec_igc['IGC_in_10^3KW'] = Elec_igc['IGC_in_10^3KW'].astype(str)
Elec_igc['IGC_in_10^3KW'] = Elec_igc['IGC_in_10^3KW'].str.replace(r"[^\d\.\-]", "", regex=True)

In [550]:
Elec_igc['IGC_in_10^3KW']=pd.to_numeric(Elec_igc['IGC_in_10^3KW'], errors='coerce')
Elec_igc['IGC_in_10^3KW']

0      2949000000
1      1235000000
2       499136000
3       361617000
4       301926000
          ...
206         12000
207         10000
208          6000
209          5000
210          3000
Name: IGC_in_10^3KW, Length: 211, dtype: int64

In [551]:
#Extraemos 3 ceros de atrás
Elec_igc['IGC_in_10^3KW'] = Elec_igc['IGC_in_10^3KW'].astype(str)
Elec_igc['IGC_in_10^3KW'] = Elec_igc['IGC_in_10^3KW'].str.replace('0', '', 3)
Elec_igc['IGC_in_10^3KW']

0      2949000
1      1235000
2       499136
3       361617
4       319260
        ...
206         12
207         10
208          6
209          5
210          3
Name: IGC_in_10^3KW, Length: 211, dtype: object

In [552]:
import pandas as pd
link4=('https://raw.githubusercontent.com/Maferenv/PC3.25-1/refs/heads/main/Education%20expenditures.csv')
Edu_exp=pd.read_csv(link4)
Edu_exp

,name,slug,% of GDP,date_of_information,ranking,region
0,Marshall Islands,marshall-islands,13.6,2020,1,Australia and Oceania
1,Solomon Islands,solomon-islands,12.8,2020,2,Australia and Oceania
2,Kiribati,kiribati,12.4,2019,3,Australia and Oceania
3,Greenland,greenland,10.2,2019,4,North America
4,Bolivia,bolivia,9.8,2020,5,South America
...,...,...,...,...,...,...
192,Papua New Guinea,papua-new-guinea,1.4,2020,193,East and Southeast Asia
193,Venezuela,venezuela,1.3,2017,194,South America
194,Monaco,monaco,1.2,2019,195,Europe
195,Nigeria,nigeria,0.5,2013,196,Africa
196,Somalia,somalia,0.3,2019,197,Africa

In [553]:
#Renombramiento de las columnas
Nombres4=['Country','Slug','Percentage of GDP (%)', 'Date','Rank','Region']
function4 = {old:new for old,new in zip(Edu_exp.columns,Nombres4)}
Edu_exp.rename(columns=function4, inplace=True)

In [554]:
#Identificamos datos nulos
Edu_exp.isnull()

     Country   Slug  Percentage of GDP (%)   Date   Rank  Region
0      False  False                  False  False  False   False
1      False  False                  False  False  False   False
2      False  False                  False  False  False   False
3      False  False                  False  False  False   False
4      False  False                  False  False  False   False
..       ...    ...                    ...    ...    ...     ...
192    False  False                  False  False  False   False
193    False  False                  False  False  False   False
194    False  False                  False  False  False   False
195    False  False                  False  False  False   False
196    False  False                  False  False  False   False

[197 rows x 6 columns]

In [555]:
#Si no contienen numeros ni simbolos
Edu_exp.Region.str.contains(pat=r'\D',
                          regex=True)
Edu_exp.Slug.str.contains(pat=r'\D',
                          regex=True)

0      True
1      True
2      True
3      True
4      True
       ...
192    True
193    True
194    True
195    True
196    True
Name: Slug, Length: 197, dtype: bool

In [556]:
#Si contienen simbolos no numericos
pd.unique(Edu_exp.Slug[~Edu_exp.Slug.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Edu_exp.Country[~Edu_exp.Country.str.contains(r'\d+\.\d+',regex=True)])
pd.unique(Edu_exp.Region[~Edu_exp.Region.str.contains(r'\d+\.\d+',regex=True)])
#Si es que contienen se reemplazan por espacios en blanco
Edu_exp['Slug']=Edu_exp['Slug'].apply(lambda x:re.sub(r'[^\w\s]', ' ', x))
Edu_exp.Slug

0      marshall islands
1       solomon islands
2              kiribati
3             greenland
4               bolivia
             ...
192    papua new guinea
193           venezuela
194              monaco
195             nigeria
196             somalia
Name: Slug, Length: 197, dtype: object

In [557]:
#Capitalización de cada país
Edu_exp['Slug']=Edu_exp['Slug'].str.capitalize()
Edu_exp.Slug

0      Marshall islands
1       Solomon islands
2              Kiribati
3             Greenland
4               Bolivia
             ...
192    Papua new guinea
193           Venezuela
194              Monaco
195             Nigeria
196             Somalia
Name: Slug, Length: 197, dtype: object

In [558]:
#Analizamos que Country no contenga símbolos ni numeros
Edu_exp.Country.str.contains(pat=r'\D',
                          regex=True)
Edu_exp.Country[Edu_exp.Country.str.contains(pat=r'[^\w\s]',regex=True)]

5        Micronesia, Federated States of
89                          Korea, South
101               Congo, Republic of the
108                          Timor-Leste
143                        Cote d'Ivoire
144                     Turkey (Turkiye)
163                         Bahamas, The
165                          Gambia, The
167                        Guinea-Bissau
170    Congo, Democratic Republic of the
Name: Country, dtype: object

In [559]:
#Eliminamos todas las palabras que se encuentren encerradas por parentesis
Edu_exp['Country']=Edu_exp['Country'].str.replace(r'\([^()]*\)', '', regex=True)
Edu_exp.Country

0      Marshall Islands
1       Solomon Islands
2              Kiribati
3             Greenland
4               Bolivia
             ...
192    Papua New Guinea
193           Venezuela
194              Monaco
195             Nigeria
196             Somalia
Name: Country, Length: 197, dtype: object

In [560]:
#Reordenamos todas las palabras que comienzan por la preposición the
def reorder_country_name(country):
    if ',' in country:
        parts = country.split(',')
        return f"{parts[1].strip()} {parts[0].strip()}"
    return country

Edu_exp['Country'] = Edu_exp['Country'].apply(reorder_country_name)
Edu_exp.Country

0      Marshall Islands
1       Solomon Islands
2              Kiribati
3             Greenland
4               Bolivia
             ...
192    Papua New Guinea
193           Venezuela
194              Monaco
195             Nigeria
196             Somalia
Name: Country, Length: 197, dtype: object

In [561]:
#Analisis de la columna Porcentaje de GDP
Edu_exp['Percentage of GDP (%)'] = pd.to_numeric(Edu_exp['Percentage of GDP (%)'], errors='coerce')
Edu_exp['Percentage of GDP (%)']

0      13.6
1      12.8
2      12.4
3      10.2
4       9.8
       ...
192     1.4
193     1.3
194     1.2
195     0.5
196     0.3
Name: Percentage of GDP (%), Length: 197, dtype: float64

In [562]:
Edu_exp

,Country,Slug,Percentage of GDP (%),Date,Rank,Region
0,Marshall Islands,Marshall islands,13.6,2020,1,Australia and Oceania
1,Solomon Islands,Solomon islands,12.8,2020,2,Australia and Oceania
2,Kiribati,Kiribati,12.4,2019,3,Australia and Oceania
3,Greenland,Greenland,10.2,2019,4,North America
4,Bolivia,Bolivia,9.8,2020,5,South America
...,...,...,...,...,...,...
192,Papua New Guinea,Papua new guinea,1.4,2020,193,East and Southeast Asia
193,Venezuela,Venezuela,1.3,2017,194,South America
194,Monaco,Monaco,1.2,2019,195,Europe
195,Nigeria,Nigeria,0.5,2013,196,Africa
196,Somalia,Somalia,0.3,2019,197,Africa

In [563]:
Elec_igc

,Country,Slug,IGC_in_10^3KW,Date,Rank,Region
0,China,China,2949000,2023,1,East and Southeast Asia
1,United States,United states,1235000,2023,2,North America
2,India,India,499136,2023,3,South Asia
3,Japan,Japan,361617,2023,4,East and Southeast Asia
4,Russia,Russia,319260,2023,5,Central Asia
...,...,...,...,...,...,...
206,Kiribati,Kiribati,12,2023,207,Australia and Oceania
207,Falkland Islands,Falkland islands islas malvinas,10,2023,208,South America
208,Montserrat,Montserrat,6,2023,209,Central America and the Caribbean
209,Ascension Saint Helena,Saint helena ascension and tristan da cunha,5,2023,210,Africa
210,Niue,Niue,3,2023,211,Australia and Oceania

In [564]:
Resv_fng

,Country,Slug,Value_in_dollars_x10^3,Date,Rank,Region
0,China,China,3265000000,2024,1,East and Southeast Asia
1,Japan,Japan,1160000000,2024,2,East and Southeast Asia
2,Switzerland,Switzerland,822130000,2024,3,Europe
3,Russia,Russia,597217000,2023,4,Central Asia
4,India,India,569544000,2024,5,South Asia
...,...,...,...,...,...,...
190,South Sudan,South sudan,72881,2023,191,Africa
191,Burkina Faso,Burkina faso,49000,2017,192,Africa
192,Montserrat,Montserrat,47580,2017,193,Central America and the Caribbean
193,Sao Tome and Principe,Sao tome and principe,46247,2023,194,Africa
194,Somalia,Somalia,34500,2014,195,Africa

In [565]:
En_coms

,Country,Slug,Btu/person_(x10^3),Date,Rank,Region
0,Qatar,Qatar,814380,2023,1,Middle East
1,Singapore,Singapore,643259,2023,2,East and Southeast Asia
2,Bahrain,Bahrain,554220,2023,3,Middle East
3,United Arab Emirates,United arab emirates,454320,2023,4,Middle East
4,Brunei,Brunei,433650,2023,5,East and Southeast Asia
...,...,...,...,...,...,...
190,Chad,Chad,1520,2023,191,Africa
191,Democratic Republic of the Congo,Congo democratic republic of the,1350,2023,192,Africa
192,Central African Republic,Central african republic,954,2023,193,Africa
193,Burundi,Burundi,946,2023,194,Africa
194,Somalia,Somalia,649,2023,195,Africa

# 2.   Combinación de los dataframes
Lo que realizaremos es combinar cada uno de los dataframes sin cambiar los elementos más importantes, mientras se eliminan los datos con menor relevancia

In [566]:
#Elimino las columnas Slug, Date y Rank de cada dataframe
#creo una tupla con todos los dataframes
dfs = (Resv_fng,En_coms,Elec_igc,Edu_exp)
for df in dfs:
  drop_columns=['Slug', 'Date', 'Rank']
  columns_exs = [col for col in drop_columns if col in df.columns]
  if columns_exs:
    df.drop(columns_exs, axis=1, inplace=True)

In [567]:
for df in dfs:
    # Ordenar el dataframe por la columna Country
    if 'Country' in df.columns:
        df.sort_values(by='Country', inplace=True)
        # Resetear el índice después de ordenar si es necesario
        df.reset_index(drop=True, inplace=True)

In [568]:
#Numero de flechas
Resv_fng.shape,Elec_igc.shape

((195, 3), (211, 3))

In [569]:
#Nos quedamos con todas las claves de uno de los dataframes
Elec_igc.merge(Resv_fng, how='inner', right_on='Country', left_on='Region').shape

(0, 6)

In [570]:
set(Resv_fng.Country)-set(Elec_igc.Country)

{'Anguilla', 'Federated States of Micronesia', 'Palau', 'San Marino'}

In [571]:
set(Elec_igc.Country)-set(Resv_fng.Country)

{'American Samoa',
 'Ascension Saint Helena',
 'Bermuda',
 'British Virgin Islands',
 'Cook Islands',
 'Falkland Islands ',
 'Faroe Islands',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Kiribati',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Puerto Rico',
 'Saint Pierre and Miquelon',
 'Turks and Caicos Islands',
 'Virgin Islands'}

In [572]:
merged_df = pd.merge(Resv_fng, Elec_igc, on='Country', how='inner')
merged_df

,Country,Value_in_dollars_x10^3,Region_x,IGC_in_10^3KW,Region_y
0,Afghanistan,9749000,South Asia,627,South Asia
1,Albania,6455000,Europe,2857,Europe
2,Algeria,68448000,Africa,22591,Africa
3,Angola,14243000,Africa,7600,Africa
4,Antigua and Barbuda,358441,Central America and the Caribbean,148,Central America and the Caribbean
...,...,...,...,...,...
186,Vietnam,92238000,East and Southeast Asia,85725,East and Southeast Asia
187,West Bank,1328000,Middle East,352,Middle East
188,Yemen,1251000,Middle East,1790,Middle East
189,Zambia,3173000,Africa,3986,Africa
190,Zimbabwe,261373,Africa,2491,Africa

In [573]:
#Eliminamos la columna Region para evitar que se duplique y renombrar Region-y a Region
df_cleaned1=merged_df.drop('Region_x', axis=1)
df_cleaned1.rename(columns={'Region_y': 'Region'}, inplace=True)
df_cleaned1

,Country,Value_in_dollars_x10^3,IGC_in_10^3KW,Region
0,Afghanistan,9749000,627,South Asia
1,Albania,6455000,2857,Europe
2,Algeria,68448000,22591,Africa
3,Angola,14243000,7600,Africa
4,Antigua and Barbuda,358441,148,Central America and the Caribbean
...,...,...,...,...
186,Vietnam,92238000,85725,East and Southeast Asia
187,West Bank,1328000,352,Middle East
188,Yemen,1251000,1790,Middle East
189,Zambia,3173000,3986,Africa
190,Zimbabwe,261373,2491,Africa

In [574]:
#Aplicamos el mismo proceso para los dos dataframes restantes
En_coms.shape,Edu_exp.shape

((195, 3), (197, 3))

In [575]:
set(Edu_exp.Country)-set(En_coms.Country)

{'Andorra',
 'Anguilla',
 'Cook Islands',
 'Curacao',
 'Faroe Islands',
 'Federated States of Micronesia',
 'Greenland',
 'Iceland',
 'Liechtenstein',
 'Marshall Islands',
 'Monaco',
 'Montserrat',
 'Nauru',
 'Palau',
 'San Marino',
 'Trinidad and Tobago',
 'Turks and Caicos Islands'}

In [576]:
set(En_coms.Country)-set(Edu_exp.Country)

{'American Samoa',
 'Bosnia and Herzegovina',
 'Cuba',
 'Equatorial Guinea',
 'Eritrea',
 'Guam',
 'Kosovo',
 'Libya',
 'Montenegro',
 'North Korea',
 'North Macedonia',
 'Sudan',
 'Syria',
 'Taiwan',
 'Yemen'}

In [577]:
df_merged2 = pd.merge(En_coms, Edu_exp, on='Country', how='inner')
df_merged2

,Country,Btu/person_(x10^3),Region_x,Percentage of GDP (%),Region_y
0,Afghanistan,3380,South Asia,2.9,South Asia
1,Albania,27470,Europe,3.1,Europe
2,Algeria,61843,Africa,7.0,Africa
3,Angola,9146,Africa,2.4,Africa
4,Antigua and Barbuda,111140,Central America and the Caribbean,3.8,Central America and the Caribbean
...,...,...,...,...,...
175,Venezuela,54474,South America,1.3,South America
176,Vietnam,42630,East and Southeast Asia,4.1,East and Southeast Asia
177,West Bank,14991,Middle East,5.3,Middle East
178,Zambia,8265,Africa,3.7,Africa
179,Zimbabwe,18550,Africa,3.9,Africa

In [578]:
df_cleaned2=df_merged2.drop('Region_x', axis=1)
df_cleaned2.rename(columns={'Region_y': 'Region'}, inplace=True)
df_cleaned2

,Country,Btu/person_(x10^3),Percentage of GDP (%),Region
0,Afghanistan,3380,2.9,South Asia
1,Albania,27470,3.1,Europe
2,Algeria,61843,7.0,Africa
3,Angola,9146,2.4,Africa
4,Antigua and Barbuda,111140,3.8,Central America and the Caribbean
...,...,...,...,...
175,Venezuela,54474,1.3,South America
176,Vietnam,42630,4.1,East and Southeast Asia
177,West Bank,14991,5.3,Middle East
178,Zambia,8265,3.7,Africa
179,Zimbabwe,18550,3.9,Africa

In [579]:
#Finalmente unimos las dos dataframes en uno
tabla=pd.merge(df_cleaned1, df_cleaned2, on='Country', how='inner')
tabla

,Country,Value_in_dollars_x10^3,IGC_in_10^3KW,Region_x,Btu/person_(x10^3),Percentage of GDP (%),Region_y
0,Afghanistan,9749000,627,South Asia,3380,2.9,South Asia
1,Albania,6455000,2857,Europe,27470,3.1,Europe
2,Algeria,68448000,22591,Africa,61843,7.0,Africa
3,Angola,14243000,7600,Africa,9146,2.4,Africa
4,Antigua and Barbuda,358441,148,Central America and the Caribbean,111140,3.8,Central America and the Caribbean
...,...,...,...,...,...,...,...
171,Venezuela,9794000,33493,South America,54474,1.3,South America
172,Vietnam,92238000,85725,East and Southeast Asia,42630,4.1,East and Southeast Asia
173,West Bank,1328000,352,Middle East,14991,5.3,Middle East
174,Zambia,3173000,3986,Africa,8265,3.7,Africa
175,Zimbabwe,261373,2491,Africa,18550,3.9,Africa

In [580]:
Tabla_cleaned=tabla.drop('Region_x', axis=1)
Tabla_cleaned.rename(columns={'Region_y': 'Region'}, inplace=True)
Tabla_cleaned

,Country,Value_in_dollars_x10^3,IGC_in_10^3KW,Btu/person_(x10^3),Percentage of GDP (%),Region
0,Afghanistan,9749000,627,3380,2.9,South Asia
1,Albania,6455000,2857,27470,3.1,Europe
2,Algeria,68448000,22591,61843,7.0,Africa
3,Angola,14243000,7600,9146,2.4,Africa
4,Antigua and Barbuda,358441,148,111140,3.8,Central America and the Caribbean
...,...,...,...,...,...,...
171,Venezuela,9794000,33493,54474,1.3,South America
172,Vietnam,92238000,85725,42630,4.1,East and Southeast Asia
173,West Bank,1328000,352,14991,5.3,Middle East
174,Zambia,3173000,3986,8265,3.7,Africa
175,Zimbabwe,261373,2491,18550,3.9,Africa

In [581]:
#Renombramos la tabla
Est_paises=Tabla_cleaned
Est_paises

,Country,Value_in_dollars_x10^3,IGC_in_10^3KW,Btu/person_(x10^3),Percentage of GDP (%),Region
0,Afghanistan,9749000,627,3380,2.9,South Asia
1,Albania,6455000,2857,27470,3.1,Europe
2,Algeria,68448000,22591,61843,7.0,Africa
3,Angola,14243000,7600,9146,2.4,Africa
4,Antigua and Barbuda,358441,148,111140,3.8,Central America and the Caribbean
...,...,...,...,...,...,...
171,Venezuela,9794000,33493,54474,1.3,South America
172,Vietnam,92238000,85725,42630,4.1,East and Southeast Asia
173,West Bank,1328000,352,14991,5.3,Middle East
174,Zambia,3173000,3986,8265,3.7,Africa
175,Zimbabwe,261373,2491,18550,3.9,Africa

# 3. Media, mínimo y máximo de la tabla principal

In [582]:
#Determinamos la media de cada una de las 4 variables numéricas existentes
Est_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 176 non-null    object
 1   Value_in_dollars_x10^3  176 non-null    object
 2   IGC_in_10^3KW           176 non-null    object
 3   Btu/person_(x10^3)      176 non-null    object
 4   Percentage of GDP (%)   176 non-null    float64
 5   Region                  176 non-null    object
dtypes: float64(1), object(5)
memory usage: 8.4+ KB

In [583]:
variabls=['Value_in_dollars_x10^3','IGC_in_10^3KW','Btu/person_(x10^3)','Percentage of GDP (%)']
#Nos aseguramos de que las nuevas columnas sean numéricas
for col in variabls:
  Est_paises[col]=pd.to_numeric(Est_paises[col], errors='coerce')
prom='mean'
Est_paises.groupby('Region')[variabls].agg(prom)

,Value_in_dollars_x10^3,IGC_in_10^3KW,Btu/person_(x10^3),Percentage of GDP (%)
Region,,,,
Africa,7.016273e+06,4649.160000,14514.160000,4.268000
Australia and Oceania,1.157256e+07,28421.571429,62216.714286,6.314286
Central America and the Caribbean,4.569876e+06,1587.700000,59002.300000,4.555000
Central Asia,7.556222e+07,44322.777778,103997.111111,4.333333
East and Southeast Asia,3.583632e+08,211259.555556,120816.944444,3.633333
Europe,6.516726e+07,40656.942857,121254.571429,5.151429
Middle East,9.529614e+07,38101.285714,241779.714286,4.528571
North America,1.890850e+08,517616.000000,215870.666667,5.200000
South America,4.750118e+07,35732.083333,47816.416667,4.808333
South Asia,7.939093e+07,72116.125000,24685.375000,3.850000

In [584]:
nueva_funcion=['mean','min','max']
Est_paises=Est_paises.groupby('Region')[variabls].agg(nueva_funcion)

# 4. Creación de nuevas columnas para las variables de media, mínimo y máximo

In [585]:
#Revisamos la estructura de la tabla
Est_paises.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Africa to South Asia
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Value_in_dollars_x10^3, mean)  10 non-null     float64
 1   (Value_in_dollars_x10^3, min)   10 non-null     int64
 2   (Value_in_dollars_x10^3, max)   10 non-null     int64
 3   (IGC_in_10^3KW, mean)           10 non-null     float64
 4   (IGC_in_10^3KW, min)            10 non-null     int64
 5   (IGC_in_10^3KW, max)            10 non-null     int64
 6   (Btu/person_(x10^3), mean)      10 non-null     float64
 7   (Btu/person_(x10^3), min)       10 non-null     int64
 8   (Btu/person_(x10^3), max)       10 non-null     int64
 9   (Percentage of GDP (%), mean)   10 non-null     float64
 10  (Percentage of GDP (%), min)    10 non-null     float64
 11  (Percentage of GDP (%), max)    10 non-null     float64
dtypes: float64(6), int64(6)
memory usage: 1.0+ KB

In [586]:
Est_paises.columns.to_flat_index()

Index([('Value_in_dollars_x10^3', 'mean'),  ('Value_in_dollars_x10^3', 'min'),
        ('Value_in_dollars_x10^3', 'max'),          ('IGC_in_10^3KW', 'mean'),
                 ('IGC_in_10^3KW', 'min'),           ('IGC_in_10^3KW', 'max'),
           ('Btu/person_(x10^3)', 'mean'),      ('Btu/person_(x10^3)', 'min'),
            ('Btu/person_(x10^3)', 'max'),  ('Percentage of GDP (%)', 'mean'),
         ('Percentage of GDP (%)', 'min'),   ('Percentage of GDP (%)', 'max')],
      dtype='object')

In [587]:
#Se unen los mínimos, máximos y medias con cada columna
['_'.join(col) for col in Est_paises.columns.to_flat_index()]

['Value_in_dollars_x10^3_mean',
 'Value_in_dollars_x10^3_min',
 'Value_in_dollars_x10^3_max',
 'IGC_in_10^3KW_mean',
 'IGC_in_10^3KW_min',
 'IGC_in_10^3KW_max',
 'Btu/person_(x10^3)_mean',
 'Btu/person_(x10^3)_min',
 'Btu/person_(x10^3)_max',
 'Percentage of GDP (%)_mean',
 'Percentage of GDP (%)_min',
 'Percentage of GDP (%)_max']

In [588]:
#Obtenemos una nueva tabla con nuevas columnas
Est_paises.columns=['_'.join(col) for col in Est_paises.columns.to_flat_index()]
Est_paises

,Value_in_dollars_x10^3_mean,Value_in_dollars_x10^3_min,Value_in_dollars_x10^3_max,IGC_in_10^3KW_mean,IGC_in_10^3KW_min,IGC_in_10^3KW_max,Btu/person_(x10^3)_mean,Btu/person_(x10^3)_min,Btu/person_(x10^3)_max,Percentage of GDP (%)_mean,Percentage of GDP (%)_min,Percentage of GDP (%)_max
Region,,,,,,,,,,,,
Africa,7.016273e+06,34500,68448000,4649.160000,29,65989,14514.160000,649,98847,4.268000,0.3,9.6
Australia and Oceania,1.157256e+07,396530,54455000,28421.571429,34,181930,62216.714286,5655,223158,6.314286,2.2,12.8
Central America and the Caribbean,4.569876e+06,155971,23834000,1587.700000,41,6581,59002.300000,3486,153952,4.555000,1.4,8.7
Central Asia,7.556222e+07,3237000,597217000,44322.777778,3944,319260,103997.111111,16192,261142,4.333333,2.8,6.2
East and Southeast Asia,3.583632e+08,781995,3265000000,211259.555556,277,2949000,120816.944444,6825,643259,3.633333,1.4,6.3
Europe,6.516726e+07,921269,822130000,40656.942857,779,275658,121254.571429,27470,269610,5.151429,3.1,7.2
Middle East,9.529614e+07,1328000,436769000,38101.285714,352,162810,241779.714286,14991,814380,4.528571,1.7,7.8
North America,1.890850e+08,117551000,227760000,517616.000000,155860,1235000,215870.666667,57539,311599,5.200000,4.3,6.1
South America,4.750118e+07,87100,318857000,35732.083333,259,242510,47816.416667,25733,78496,4.808333,1.3,9.8
South Asia,7.939093e+07,673230,569544000,72116.125000,432,499136,24685.375000,3380,64820,3.850000,1.9,7.0